/*MY UTILITY
.nav_bar {
    height: 80px;
    background-color: aquamarine;
}


.nav_bar_vertical {
    width: 90px;
    height: 1000px;
    background-color: black;
}


.blue_bar {
    height: 90px;
    background-color: blue;
}*/

.box_1 {
    width: 700px;
    height: 1000px;
    background-color: brown;
}

.box_2 {
    height: 800px;
    background-color: antiquewhite;
}

.box_2a {
    height: 80px;
    background-color: blueviolet;
}

.box_2b {
    height: 40px;
    background-color: aquamarine;
}

.box_3 {
    height: 800px;
    background-color: chocolate;
}


:root{
    --bd-darkest:#041f34;
    --bd-light:#f8f9fa;
    --bd-lighter:#fefeff;
    --bd-secondary:#e5e5e5;
    --bd-primary:#1b72e8;
    --bd-danger:#dd3445;
    --bd-succes:#3d9b6e;
    --bd-standby:#ffc82b;
}

/*REGION HEADER*/

img {
    display: block;

}

.m_logo_navbar_cell {
    width: 50px;
}


/*REGION MAIN*/
.m_nav_vertical {
    background-image: url(./img/sidebar-bg.png);
    background-color: var(--bd-darkest);
    height: 100vh;
}

.m_blue_bar{
    background-color: var(--bd-primary);
}

